<!DOCTYPE NETSCAPE-Bookmark-file-1>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
<TITLE>Bookmarks</TITLE>
<H1>Bookmarks</H1>
<DL><p>
<DT><H3 ADD_DATE="1555117196193001">Unlabeled</H3>
<DL><p>
<DT><A HREF="http://maps.google.com/?cid=3890518554535496244" ADD_DATE="1556615723113001">Cannibale Royale du Nord</A>
<DT><A HREF="http://maps.google.com/?cid=4921161144270262079" ADD_DATE="1555562450194001">Arash&#39;s Kitchen</A>
<DT><A HREF="http://maps.google.com/?cid=3704279090084377669" ADD_DATE="1555732325830001">Maenohara Onsen Sayano Yudokoro</A>
<DT><A HREF="http://maps.google.com/?cid=16144796379765335962" ADD_DATE="1570875189340001">Paikaji Kokusai Street</A>
<DT><A HREF="http://maps.google.com/?cid=13696305661123825271" ADD_DATE="1571226454892001">Ishigaki Island Village</A>
</DL><p>
</DL><p>